<div class="register-form">
	<h1>Register</h1>
	<p>Use this form to register.</p>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="username" class="col-sm-3 control-label">Username <span class="required">*</span></label>

			<div class="col-sm-9">
				<input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username">
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">Email <span class="required">*</span></label>

			<div class="col-sm-9">
				<input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-3 control-label">Password <span class="required">*</span></label>

			<div class="col-sm-9">
				<input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
			</div>
		</div>
		<div class="form-group">
			<label for="confirm" class="col-sm-3 control-label">Confirm <span class="required">*</span></label>

			<div class="col-sm-9">
				<input type="password" class="form-control" id="confirm" placeholder="Confirm Password" ng-model="user.confirm">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<button ng-click="register(user)" class="btn btn-default">Register</button>
			</div>
		</div>
	</form>
</div>